section.article-text table.steps {
    border: 1px solid #999;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;

    td {
        background-color: transparent;
        border: 1px solid #999;
        padding: 1ex;

        *:nth-child(1) {
            margin-top: 0;
        }

        *:nth-last-child(1) {
            margin-bottom: 0;
        }

        img {
            display: block;
            max-width: 90%;
            margin: 0 auto;
        }

        code {
            @include monospace;
            color: #600;
        }

        pre {
            @include monospace;
            color: #600;
            margin: 0;
            padding: 10px;
            border: none;
            background-color: $White;
            overflow-x: auto;
        }

    }

    th {
        background-color: transparent;
        border: 1px solid #999;
        padding: 1ex;
        width: 4ex;
        vertical-align: top;
        text-align: right;
        font-weight: normal;
    }

    tr.information {
        th {
            background-color: #ffa;
            font-size: 150%;
            padding: 1ex 0;
            text-align: center;
            border-right: none;
        }

        td {
            background-color: #ffa;
            font-style: italic;
            border-left: none;
        }

        code {
            background-color: transparent;
        }

        em,
        i {
            font-style: normal;
        }
    }

    tr.warning {
        th {
            background-color: #faa;
            font-size: 150%;
            padding: 1ex 0;
            text-align: center;
            border-right: none;
        }

        td {
            background-color: #faa;
            font-weight: bold;
            border-left: none;
        }

        code {
            background-color: transparent;
        }

        strong,
        b {
            font-weight: normal;
        }
    }

    tr.download {
        th {
            background-color: #9cf;
            font-size: 150%;
            padding: 1ex 0;
            text-align: center;
            border-right: none;
        }

        td {
            background-color: #9cf;
            border-left: none;
        }
    }

}