@import "_variables.scss";

section.artlist {
    article {
        margin-bottom: 2em;

        &.haspicture {
            @media ($NormalScreen) {
                min-height: 150px;
            }
        }

        aside {
            float: left;

            @media ($NarrowScreen) {
                display: none;
            }
        }

        header {
            @media ($NormalScreen) {
                margin: 0 0 0 150px;
                padding: 0 0 0 1em;
            }

            a {
                font-weight: 100;
                font-size: 200%;

                @media ($NarrowScreen) {
                    font-size: 150%;
                }
            }
        }

        div {
            @media ($NormalScreen) {
                margin: 0 0 0 150px;
                padding: 0 0 0 1em;
            }

            text-align: justify;
        }

        footer {
            @media ($NormalScreen) {
                margin: 0 0 0 150px;
                padding: 0 0 0 1em;
            }

            time {
                float: right;
                font-size: 90%;
                color: $DarkGray;
                margin-left: 1em;
            }
        }

        div.clear {
            height: 1px;
            clear: both;
        }
    }

    &.hlfirst article:nth-of-type(1) {
        background-color: lighten($LightGray, 10);
        padding: 1em;
        border-radius: 1ex;
        font-size: 120%;

        @media ($WideScreen) {
            img {
                width: 300px;
                height: 300px;
            }
            header, div, footer {
                margin-left: 300px;
            }
        }

        @media ($NarrowScreen) {
            padding: 1ex;
        }
    }

    > footer {
        background-color: $LightGray;
        padding: 1ex .5ex;
        text-align: center;
        border-radius: 1ex;

        .prev {
            float: left;

            a {
                margin-right: 1ex;
            }
        }

        .next {
            float: right;

            a {
                margin-left: 1ex;
            }
        }

        a {
            background-color: $Orange;
            padding: .5ex 1ex;
            border-radius: 1ex;

            &:link,
            &:visited {
                color: $White;
                text-decoration: none;
            }

            &:hover {
                color: $Black;
            }
        }
    }
}

ul.categories {
    @include tag(rgba($Orange, .75), $Orange, $White);
}

ul.serials {
    @include tag(transparent, rgba($Orange, .75), $Orange);
}

aside.article-info {
    font-size: 120%;
    color: $DarkGray;
    text-align: right;

    ul {
        @media ($NormalScreen) {
            float: left;
        }
    }

    a {
        color: $DarkGray;
        text-decoration: none;

        &:hover {
            color: $Black;
            text-decoration: underline;
        }
    }
}

section.article-text {
    text-align: justify;

    img {
        display: block;
        margin: 1em auto;
        max-width: 100%;
    }

    video {
        display: block;
        border: 1px solid $DarkGray;
        margin: 1em auto;
        max-width: 100%;
    }

    figcaption {
        font-size: 85%;
        text-align: center;
        max-width: 100%;
        margin: .5ex auto 1ex auto;
    }

    hr {
        width: 20%;
        text-align: left;
        margin: 1em auto 1em 0;
        height: 2px;
        background-color: $LightGray;
        color: $LightGray;
        border: none;
        border-top: 2px solid $LightGray;
    }

    table {
        border-collapse: collapse;
        margin: auto auto;

        td {
            background-color: $White;
            border: 1px solid $DarkGray;
            padding: 1ex;
        }

        th {
            background-color: $LightGray;
            border: 1px solid $DarkGray;
            padding: 1ex;
        }

        tbody tr:hover td, tbody tr:hover th {
            background-color: rgba($Orange, .25);
        }
    }
}

section.issues {
    margin: 10px;
    padding: 10px 20px;
    border-left: 10px solid $Orange;
    background-color: lighten($Orange, 50);

    @media ($NarrowScreen) {
        font-size: 80%;
    }

    header {
        font-size: 200%;
        color: $Orange;
    }
}

section.sharing {
    font-weight: 100;
    color: $DarkGray;
    font-size: 150%;
    text-align: right;
    color: $DarkGray;

    ul {
        display: inline;
        margin: 0 0 0 1ex;
        padding: 0;
        list-style-type: none;

        li {
            display: inline;
            margin: 0 1ex 0 0;
            padding: 0;
            list-style-type: none;
        }
    }

    a {
        color: $DarkGray;
        text-decoration: none;

        &:hover {
            color: $Orange;
        }
    }
}

.gist table {
    td, th { 
        border: none !important;
    }
}