@import "_variables.scss";

a {

    &:link {
        color: $Orange;
    }

    &:visited {
        color: darken($Orange, 10);
    }

    &:hover {
        color: $Black;
    }
}

h1 {
    font-weight: 100;
    font-size: 300%;
    color: $Orange;
    margin-top: 0;
    text-align: left;
}

h2 {
    font-weight: 100;
    font-size: 200%;
    color: $Orange;
    text-align: left;
}

h3 {
    font-weight: 100;
    font-size: 150%;
    text-align: left;
}

code {
    @include monospace;
    color: #600;
}

pre {
    @include monospace;
    color: #600;
    margin: 10px;
    padding: 10px 20px;
    border-left: 10px solid $DarkGray;
    background-color: lighten($LightGray, 15);
    overflow-x: auto;
}

blockquote {
    margin: 10px;
    padding: 10px 20px;
    border-left: 10px solid $Orange;
    background-color: lighten($LightGray, 10);
    font-style: italic;
}

del {
    color: $DarkGray;
    text-decoration: line-through solid $DarkGray;
}
ins {
    text-decoration: underline dotted $LightGray;
}